<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
         xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
         IgnorableNamespaces="uap mp uap">
  <Identity Name="f9842749-e4c8-4c15-bac8-bc018db1b2ea" Publisher="CN=pouma" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="f9842749-e4c8-4c15-bac8-bc018db1b2ea" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>ServiceHost</DisplayName>
    <PublisherDisplayName>pouma</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ServiceHost.App">
      <uap:VisualElements DisplayName="ServiceHost" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="ServiceHost" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <!-- out-of-process structure, need to use EntryPoint="MyAppService.ServiceTask"-->
        <!-- in-app-process, not need to use EntryPoint -->
        <!--<uap:Extension Category="windows.appService">
          <uap:AppService Name="com.pou.MyApService" />
        </uap:Extension>-->
        <!-- support remote app service, must using uap3 -->
        <uap3:Extension Category="windows.appService" EntryPoint="MyAppService.ServiceTask">
          <uap3:AppService Name="com.pou.MyApService" SupportsRemoteSystems="true" />
        </uap3:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>